{% extends '../base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Home{% endblock %}
{% block content %}
<main>
    <section class="py-lg-16 py-10"
            style="background: url({% static 'img/hero7.png' %})no-repeat; background-position: center; background-size: cover;">
      <div class="container">

        <div class="ps-lg-12 py-lg-7 col-xxl-5 col-md-7 py-14 px-8 text-xs-center">
          <span class="badge text-bg-warning">Start a new career</span>
          <h2 class="text-dark display-5 fw-bold mt-4">LEARN A SKILL TODAY</h2>
          <p class="lead text-dark">Then enjoy the benefits for the rest of your life.</p>
        </div>

      </div>
    </section>

    <section class="my-lg-14 my-8">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-6">
            <h3 class="mb-0">Popular Courses</h3>
          </div>
        </div>

        {% with col=3 %}
            {% include '../include/product_card.html' with col=col %}
          {% endwith%}
      </div>
    </section>
</main>
{% endblock %}
